{%extends "base.html"%}
{%block content%}
<h1 style="text-align:center;">This is blog home page!</h1>
<h2 style="text-align:center;"><a href="newpost/"> Create new post</a></h2>
{%for post in posts%}
  <div style="border-left: 6px solid blue; background-color:rgb(179, 255, 255, 0.5); padding-left: 10px ; ; margin: 10px ;">
    <b><h3 style="font-size: 34px">{{post.title}}</h3></b>
    <p style="font-size: 22px">{{post.text}}</p>
    <p style="font-size: 14px">published by {{post.author}} at {{post.release_date}} | last update was at {{post.update_date}}
    <span style="float:right;padding-right:10px;"><a href="{{post.id}}/edit/">Edit</a> <a href="{{post.id}}/delete/">Delete</a></span></p>
  </div>
{%endfor%}
{%endblock%}
